Repository leo-daniel/do-something, pull requests merged in 2018-10, with the labels that each got.

#79 Add functionality for getting directions using a round about method..…
  client/src/components/LeafletMap.js
Labels: Map

#80 Minor update
  client/public/index.html
  client/src/components/LeafletMap.js
Labels: enhancement

#87 Logo
  client/src/components/Navbar.js
  client/src/components/logo.png
Labels: enhancement

#88 Styling updates for README for consistency
  README.md
Labels: README
